// $secondary-color: #70aa70 !default;
$secondary-color: #444c7d !default;

$main-font-size: 13px;

$header-bg-color: $secondary-color;

$main-border: 1px solid #e6e6e6;

$sidebar-tab-text-color: #000;
$sidebar-tab-text-color-active: $secondary-color;

$sidebar-menu-text-color: #555555;
$sidebar-menu-text-color-active: #555555;

$option-name: #414243 !default;
$option-title-color: #444c7a;
$svg-color: #636363 !default;

$input-background: #fff !default;

$input-disabled-color: rgba(0,0,0, .42) !default;
$input-disabled-solid-color: #949494 !default;
$input-border: 1px solid #d2d2d2 !default;
$input-border-hover: 1px solid $header-bg-color !default;

$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($switch-bg-color, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: rgba(0,0,0,.38) !default;
$switch-radius: 15px !default;

$spinner-default-color: $secondary-color !default;
