.mobile-menu{
	display:none;
	width:100%;
	padding:11px;
	background:#3E4156;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:600;
}
.mobile-menu:hover{
	background:#3E4156;
	color:#ffffff;
	text-decoration:none;
}
