/* Wrapper
-------------------------------------------*/
.powerSlide .wrapper {
	overflow: hidden;
	position: relative;
}

/* Image
-------------------------------------------*/
.powerSlide .wrapper img {
	position: absolute; /* They key to the “effects” approach */
	width: 710px;
	height: 340px;
}

/* Prev & Next buttons
-------------------------------------------*/
.powerSlide a.prev,
.powerSlide a.next {
	display: none;
	margin-top: -1em; /* Same as padding-top */
	padding: 1em 2em;
	position: absolute;
	text-decoration: none;
	top: 50%;
}
.powerSlide a.next {
	right: 0;
}

/* Caption
-------------------------------------------*/
.powerSlide .wrapper p {
	bottom: 0;
	display: none;
	padding: 1.5em;
	position: absolute;
}

/* Navigation
-------------------------------------------*/
.powerSlide .nav {
	margin: .5em 0;
	overflow: hidden;
	display: none;
}
.powerSlide .nav.thumbs {
	padding: 15px; /* Same as wrapper padding */
}
.powerSlide .nav img.thumb {
	cursor: pointer;
	float: left;
	margin: 2px;
	position: relative;
}
.powerSlide .nav img.thumb.current { /* Current thumbnail */
	z-index: 999;
}
.powerSlide .nav a {
	float:left;
	margin: .2em;
	min-width: 1em;
	padding: .2em .7em;
	text-align: center;
	text-decoration: none;
}
.powerSlide .nav a.current {} /* Current bullet */


#slider img{
	width: 710px;
	height: 340px;
}

