@import "../../../../resources/styles/functions";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import '../../../../resources/styles/variables';
@import "../../../../node_modules/bootstrap/scss/variables";
@import '../../../../resources/styles/snippets/close-icon';

.l-search-page {
  &__error,
  &__language-guess {
    margin: 25px 0;
  }

  .product-item-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.b-search-page-form {
  & > div {
    margin: 5px 0;
    display: inline-block;
    vertical-align: middle;
  }
  @include media-breakpoint-up(md) {
    & > div {
      margin-right: 10px;
    }
  }
}

.b-search-page-block {
  &__title {
    margin-top: 20px;
  }
}

.b-search-page-item {
  margin: 30px 0;

  &__title {
    color: theme-color('dark');
    font-weight: bold;

    &:active,
    &:focus,
    &:hover {
      color: theme-color('dark');
    }
  }

  &__chain,
  &__updated {
    color: gray('600');
  }

  &__updated {
    margin-top: 15px;
  }
}

.b-search-page-pager {
  text-align: center;
}
