.b-meta-item {
  display: inline-block;
  font-size: 0.75rem;
  color: gray('600');
  display: inline-block;
  margin-right: 8px;

  &--bold {
    font-weight: 600;
  }

  &--avatar {
    margin-right: 0px;
  }

  &--avatar img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    margin-top: -5px;
    vertical-align: middle;
    border-radius: 50%;
    transition: 0.15s;
  }

  &--hot {
    color: theme-color('orange');
  }

  &--small {
    font-size: 0.625rem;
    margin-bottom: 0px;
  }
}
