.b-news-detail-sibling-item {
  position: relative;

  &__picture {
    display: block;
    position: relative;
  }

  &__picture img {
    max-width: 100%;
  }

  &__name {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 10px 20px 0;
    color: theme-color('dark');
    display: block;
    font-weight: 600;
  }

  &__name:hover {
    color: theme-color('primary');
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    height: 60px;
    width: 60px;
    color: #fff;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    z-index: 8;
  }

  &__icon:before {
    border: 3px solid #fff;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 50px;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.3);
    font-family: FontAwesome;
  }

  &--previous &__icon:before {
    content: "\f104";
    letter-spacing: 5px;
  }
  &--next &__icon:before {
    content: "\f105";
    letter-spacing: -5px;
  }
}
