@mixin banner-overlay {
  background: #000;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0.625rem;
    overflow: hidden;
  }

  &__overlay:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65%;
    transition: opacity 0.2s;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
    backface-visibility: hidden;
  }

  &:hover &__overlay:before {
    opacity: 0.9;
  }

  &__content {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding-right: 1.875rem;
    padding-bottom: 0.625rem;
    pointer-events: none;
    transition: bottom 0.3s;
  }

  &__title {
    color: theme-color('light');
    white-space: normal;
    display: block;
    line-height: 1.4;
    font-size: $font-size-base;
    margin-bottom: 0;
    pointer-events: auto;
  }

  &__date,
  &__title a {
    color: theme-color('light');
  }

  &__title a:hover {
    text-decoration: none;
    color: theme-color('light');
  }

  &__date {
    margin-bottom: 0.3125rem;
    font-size: $small-font-size;
  }

  &__desc {
    color: theme-color('light');
    max-height: 0;
    line-height: 1.125rem;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
    font-size: $small-font-size;
    backface-visibility: hidden;
  }

  @include media-breakpoint-down(md) {
    &__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2.8em;
      font-size: $font-size-base;
    }
  }

  @include media-breakpoint-up(md) {
    &__overlay {
      padding: 1.25rem;
    }

    &__content {
      padding-bottom: 1rem;
    }
}

  @include media-breakpoint-up(lg) {
    &:hover &__desc {
      display: block;
      opacity: 1;
      max-height: 5.9rem;
      margin-top: 0.3125rem;
      transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
    }
  }

  @include media-breakpoint-up(lg) {
    &__title {
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

}
