.l-grid-main {
  padding: 0.9375rem 0;
  position: relative;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
  margin-top: -15px;
  margin-bottom: 20px; }
  .l-grid-main--type1 {
    background-color: #efefef; }
  .l-grid-main--type1 .b-main-grid-item {
    height: 7.5rem; }
  .l-grid-main--type1 .b-main-grid-item {
    display: none !important; }
  .l-grid-main--type1 .b-main-grid-item:nth-child(-n + 4) {
    display: block !important; }
  .l-grid-main__preload {
    display: none;
    min-height: 300px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0; }
  .l-grid-main.is-wait-loading {
    min-height: 300px; }
  .l-grid-main.is-wait-loading .l-grid-main__container {
    display: none; }
  .l-grid-main.is-wait-loading .l-grid-main__preload {
    display: block; }

.b-main-grid-item {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.0625rem; }
  .b-main-grid-item__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-background-size: cover;
       background-size: cover;
    background-position: center top; }
  .b-main-grid-item__link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .b-main-grid-item__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0.625rem;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden; }
  .b-main-grid-item__overlay:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65%;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.75));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.75));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.75));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75)); }
  .b-main-grid-item:hover .b-main-grid-item__overlay:before {
    opacity: 0.9; }
  .b-main-grid-item__content {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding-right: 1.875rem;
    padding-bottom: 0.625rem;
    pointer-events: none;
    -webkit-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    transition: bottom 0.3s; }
  .b-main-grid-item__title {
    color: #f8f9fa;
    white-space: normal;
    display: block;
    line-height: 1.4;
    font-size: 1rem;
    margin-bottom: 0;
    pointer-events: auto; }
  .b-main-grid-item__date,
  .b-main-grid-item__title a {
    color: #f8f9fa; }
  .b-main-grid-item__title a:hover {
    text-decoration: none;
    color: #f8f9fa; }
  .b-main-grid-item__date {
    margin-bottom: 0.3125rem;
    font-size: 80%; }
  .b-main-grid-item__desc {
    color: #f8f9fa;
    max-height: 0;
    line-height: 1.125rem;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
    -o-transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
    -moz-transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
    font-size: 80%;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden; }
  .b-main-grid-item__cat {
    position: relative;
    z-index: 3;
    pointer-events: auto;
    display: block;
    line-height: 1.313rem;
    display: inline-block;
    background: #0098f7;
    border-color: #0098f7; }
    .b-main-grid-item__cat:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -5px;
      left: 0;
      border-left: 0;
      border-right: 5px solid transparent;
      border-top: 5px solid #0098f7;
      border-top-color: inherit; }
  .b-main-grid-item__cat a {
    color: #f8f9fa;
    background: transparent;
    padding: 0.0625rem 0.5rem;
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 0.5625rem;
    position: relative;
    white-space: nowrap;
    word-wrap: normal;
    letter-spacing: 0;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
    -webkit-border-radius: 0.125rem;
            border-radius: 0.125rem;
    -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    z-index: 2; }
    .b-main-grid-item__cat a:hover {
      color: #f8f9fa;
      text-decoration: none; }

@media (min-width: 321px) {
  .l-grid-main--type1 .l-grid-main__container {
    height: 30rem; }
  .l-grid-main--type1 .b-main-grid-item {
    height: 30%;
    width: 49.9%;
    width: -webkit-calc(50% - 0.0625rem);
    width: -moz-calc(50% - 0.0625rem);
    width: calc(50% - 0.0625rem);
    float: left;
    margin-right: 0.0625rem; }
  .l-grid-main--type1 .b-main-grid-item:nth-child(1),
  .l-grid-main--type1 .b-main-grid-item:nth-child(2) {
    width: 100%;
    margin-right: 0; }
  .l-grid-main--type1 .b-main-grid-item:nth-child(1) {
    height: 40%; }
  .l-grid-main--type1 .b-main-grid-item:nth-child(4) {
    margin-right: 0;
    width: 50%; } }

@media (min-width: 576px) {
  .b-main-grid-item__cat a {
    font-size: 0.6875rem; } }

@media (max-width: 991.98px) {
  .b-main-grid-item__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    max-height: 2.8em;
    font-size: 1rem; }
  .b-main-grid-item__cat {
    display: none; } }

@media (min-width: 768px) {
  .l-grid-main {
    margin-top: -30px;
    margin-bottom: 30px; }
    .l-grid-main--type1 .l-grid-main__container {
      height: 43.75rem; }
    .l-grid-main--type1 .b-main-grid-item:nth-child(1) .b-main-grid-item__title {
      font-size: 2.188rem;
      line-height: 1.2; } }

@media (min-width: 992px) {
  .l-grid-main {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem; }
    .l-grid-main--type1 .l-grid-main__container {
      height: 30rem; }
    .l-grid-main--type1 .b-main-grid-item__overlay {
      padding: 1.25rem; }
    .l-grid-main--type1 .b-main-grid-item__content {
      padding-right: 1.25rem;
      padding-bottom: 1.25rem; }
    .l-grid-main--type1 .b-main-grid-item {
      height: -webkit-calc(50% - 0.0625rem);
      height: -moz-calc(50% - 0.0625rem);
      height: calc(50% - 0.0625rem);
      width: 24.9%;
      width: -webkit-calc(25% - 0.0625rem);
      width: -moz-calc(25% - 0.0625rem);
      width: calc(25% - 0.0625rem); }
    .l-grid-main--type1 .b-main-grid-item:nth-child(1) {
      width: 49.9%;
      width: -webkit-calc(50% - 0.0625rem);
      width: -moz-calc(50% - 0.0625rem);
      width: calc(50% - 0.0625rem);
      height: 100%;
      margin-right: 0.0625rem; }
    .l-grid-main--type1 .b-main-grid-item:nth-child(1) .b-main-grid-item__desc,
    .l-grid-main--type1 .b-main-grid-item:hover .b-main-grid-item__desc {
      display: block;
      opacity: 1;
      max-height: 6.25rem;
      margin-top: 0.3125rem;
      -webkit-transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
      -o-transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
      -moz-transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
      transition: opacity 0.4s ease-out, max-height 0.9s ease-out; }
    .l-grid-main--type1 .b-main-grid-item:nth-child(n + 2) {
      width: 24.9%;
      width: -webkit-calc(25% - 0.0625rem);
      width: -moz-calc(25% - 0.0625rem);
      width: calc(25% - 0.0625rem); }
    .l-grid-main--type1 .b-main-grid-item:nth-child(2) {
      width: 50%;
      height: 50%;
      margin-right: 0; }
    .l-grid-main--type1 .b-main-grid-item__title {
      font-size: 1.25rem; } }

/*# sourceMappingURL=style.css.map */
