@import '../snippets/close-icon';

.l-side-aside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $zindex-sideaside;
  visibility: hidden;
  width: 350px;
  height: 100%;
  background: theme-color("dark");
  color: theme-color("light");
  transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transform: translate3d(350px, 0, 0);
  overflow-y: auto;

  &__close {
    position: absolute;
    top: 15px;
    left: 25px;
    @extend %close-icon;
  }


  &.is-open {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &__container {
    padding: 70px 30px 30px 30px;
  }

  .mCSB_scrollTools {
    left: 0;
    right: auto;
  }

  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 0px;
  }

  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(255, 255, 255, 0.45);
  }

  .mCSB_inside > .mCSB_container {
    margin-right: 0px;
  }

  .l-section {
    border: 0px;
    padding: 0px;
    background: transparent;
  }

  a,
  .l-section__title {
    color: theme-color('light');
  }

  .b-section-item--wide .b-section-item__picture img {
    width: 90px;
  }

  .l-section__head {
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }

  .b-section-item__meta {
    line-height: 0px;
  }
}
